body {
	font-family: Pacifico, Helvetica;
}

.jumbotron {
	background-color: #2cd5b6;
	color: white;
}

.haiyakku {
	margin: 10px auto;
}

.haiyakku-text, .vote-holder {
	text-align: center;
	font-size: 20px;
	min-height: 84px;
}

.haiyakku:not(:first-child)::after {
	position: absolute;
	content: "";
	/*bottom: 0px;*/
	left: 0px;
	width: 100%;
	height:1px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}