body {
	font-family: Pacifico, Helvetica;
}

.jumbotron {
	background-color: #2cd5b6;
	color: white;
}

.haiyakku {
	margin: 10px auto;
}

.haiyakku-text, 
.haiyakku-vote {
	text-align: center;
	font-size: 20px;
}

.haiyakku:not(:first-child)::before {
	position: relative;
	content: "";
	left: 0px;
	margin-bottom: 15px;
	width: 100%;
	height:1px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.haiyakku-vote .fa-chevron-up,
.haiyakku-vote .fa-chevron-down {
	width: 100%;
}

.haiyakku-vote .vote-count {
	margin: 10px auto;
	font-size: 30px;
	font-family: auto;
}